extends layout

block content
  script(src='/javascripts/vue.js')
  h1= title
  p Welcome to #{title}
  .message-list#app
    input(v-model='creator')
    .button(v-on:click='addMessage') MESSAGE ADD
    h1 {{creator}}
    .message(v-for='message in messages')
      .user {{message.user}}
      .text {{message.text}}



  script(src='/javascripts/vue-test.js')
